In [1]:
import pandas as pd
from main import BC_Data

In [2]:
bc = BC_Data()

In [3]:
data = bc.get_data(serie='F022.SPC.TIN.AN05.NO.Z.D', name='SWP_10Y')
data

           FECHA           SWP_10Y
0     11-01-2005  5.08132220452084
1     12-01-2005  5.05088493941579
2     13-01-2005  5.07117643606509
3     14-01-2005  5.07117643606509
4     15-01-2005               NaN
...          ...               ...
7096  16-06-2024               NaN
7097  17-06-2024  5.07878576114884
7098  18-06-2024   5.1016137816883
7099  19-06-2024  5.20814544204367
7100  20-06-2024   5.2182913915505

[7101 rows x 2 columns]

In [4]:
query = bc.get_series('SWAP_CLP')
query

                      SERIE          NAME      TYPE
0  F022.SPC.TIN.AN10.NO.Z.D   SWP_CLP_10Y  SWAP_CLP
1  F022.SPC.TIN.AN05.NO.Z.D   SWP_CLP_05Y  SWAP_CLP
2  F022.SPC.TIN.AN04.NO.Z.D   SWP_CLP_04Y  SWAP_CLP
3  F022.SPC.TIN.AN03.NO.Z.D   SWP_CLP_03Y  SWAP_CLP
4  F022.SPC.TIN.AN02.NO.Z.D   SWP_CLP_02Y  SWAP_CLP
5  F022.SPC.TPR.D360.NO.Z.D  SWP_CLP_360D  SWAP_CLP
6  F022.SPC.TPR.D180.NO.Z.D  SWP_CLP_180D  SWAP_CLP
7  F022.SPC.TPR.D090.NO.Z.D   SWP_CLP_90D  SWAP_CLP

In [5]:
df = bc.load_type(type='SWAP_CLP')

In [6]:
df

NAME,FECHA,SWP_CLP_02Y,SWP_CLP_03Y,SWP_CLP_04Y,SWP_CLP_05Y,SWP_CLP_10Y,SWP_CLP_180D,SWP_CLP_360D,SWP_CLP_90D
4789,2024-06-21,NaN,NaN,NaN,NaN,NaN,5.59154939971318,5.44449522810542,NaN
4555,2024-06-20,5.29438643995588,5.24872932047835,5.22843735445939,5.2182913915505,5.34511689077914,NaN,NaN,NaN
4321,2024-06-19,5.29184992620235,5.2461928217949,5.22082788102132,5.20814544204367,5.34765342210641,5.54291439034138,5.38764965580008,5.7
4087,2024-06-18,5.14727002651658,5.10922313696243,5.09400443396095,5.1016137816883,5.281703879559,5.39207108743689,5.20030507449576,5.59
3853,2024-06-17,5.10922313696243,5.0762493186155,5.08132220452084,5.07878576114884,5.28677690120647,5.39937256185397,5.1741913417036,5.59
...,...,...,...,...,...,...,...,...,...
3266,2005-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3032,2005-01-14,3.83349376075317,4.78710037256513,4.88855489995843,5.07117643606509,6.54245233427315,NaN,NaN,NaN
2798,2005-01-13,3.80306147680751,4.79724576477469,4.89870042665539,5.07117643606509,6.57289547753499,NaN,NaN,NaN
2564,2005-01-12,3.82334965252702,4.80739117043871,4.91899152037336,5.05088493941579,6.57289547753499,NaN,NaN,NaN
2330,2005-01-11,3.83349376075317,4.79724576477469,4.88855489995843,5.08132220452084,6.59319097256006,NaN,NaN,NaN