In [1]:
import pandas as pd
from main import BC_Data

In [2]:
bc = BC_Data()

In [3]:
data = bc.get_data(serie='F022.SPC.TIN.AN05.NO.Z.D', name='SWP_10Y')
data

           FECHA           SWP_10Y
0     11-01-2005  5.08132220452084
1     12-01-2005  5.05088493941579
2     13-01-2005  5.07117643606509
3     14-01-2005  5.07117643606509
4     15-01-2005               NaN
...          ...               ...
7083  03-06-2024  5.06610355686974
7084  04-06-2024  4.94435546311547
7085  05-06-2024  4.96971948983314
7086  06-06-2024   4.9646466777725
7087  07-06-2024  5.07371287692093

[7088 rows x 2 columns]

In [4]:
query = bc.get_series('SWAP_CLP')
query

                      SERIE          NAME      TYPE
0  F022.SPC.TIN.AN10.NO.Z.D   SWP_CLP_10Y  SWAP_CLP
1  F022.SPC.TIN.AN05.NO.Z.D   SWP_CLP_05Y  SWAP_CLP
2  F022.SPC.TIN.AN04.NO.Z.D   SWP_CLP_04Y  SWAP_CLP
3  F022.SPC.TIN.AN03.NO.Z.D   SWP_CLP_03Y  SWAP_CLP
4  F022.SPC.TIN.AN02.NO.Z.D   SWP_CLP_02Y  SWAP_CLP
5  F022.SPC.TPR.D360.NO.Z.D  SWP_CLP_360D  SWAP_CLP
6  F022.SPC.TPR.D180.NO.Z.D  SWP_CLP_180D  SWAP_CLP
7  F022.SPC.TPR.D090.NO.Z.D   SWP_CLP_90D  SWAP_CLP

In [5]:
df = bc.load_type(type='SWAP_CLP')
df

NAME,SWP_CLP_02Y,SWP_CLP_03Y,SWP_CLP_04Y,SWP_CLP_05Y,SWP_CLP_10Y,SWP_CLP_180D,SWP_CLP_360D,SWP_CLP_90D
FECHA,,,,,,,,
01-01-2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-01-2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-01-2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-01-2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-01-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
31-12-2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31-12-2020,0.750316240278459,1.00888892420286,1.24718942697264,1.52606147271785,2.56051466575375,NaN,NaN,NaN
31-12-2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31-12-2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN